.container {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
}

.title {
    align-self: center;
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .container {
        align-items: center;
        padding: 0;
    }

    .wrapper {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        width: 550px;
    }
}