.container{
    padding: 24px;

}

.titulo{
    font-size: 55px;
    margin-bottom: 24px;
    color: black;
}
.lista{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}


.card{
    background: white;
    padding: 32px;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h2{
    font-size: 28px;
    font-weight: bold;
}
.card p{
    font-size: 20px;
}
.botao {
    margin-top: 16px;
    padding: 16px 24px;
    border: none;
    border-radius: 12px;
    background: #30c638;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}


.materiaisContainer {
    margin-top: 20px;
    color: black;
}
.materialItem {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid lightgray;

}
.voltar {
    margin-bottom: 16px;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    background: gray;
    color: white;

}
@media (max-width: 1024px) {
    .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .cardsContainer {
        grid-template-columns: 1fr;
    }
}
