.card{
    background: white;
    padding: 32px;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.span {
    color: black;
    font-weight: bold;
}

.status {
    color: #30C638;
    font-weight: bold;
}

.statusInativa {
    color: red;
    font-weight: bold;
}

.status, .statusInativa {
    text-transform: uppercase;
}